<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fd1e45e3-b695-429b-ab5c-ea31b246e9e5/resourcegroups/TweetApp/providers/Microsoft.ContainerRegistry/registries/TweetAppApi20220911193756</ResourceId>
    <ResourceName>TweetAppApi20220911193756</ResourceName>
    <ResourceGroup>TweetApp</ResourceGroup>
    <Subscription>production: Banked Account G6nTp</Subscription>
    <RegistryUrl>https://tweetappapi20220911193756.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7bf409c0-0474-405c-b104-351892c1736d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>